// Custom styles.

// 站点名字体
.site-title {

}

// 菜单超链接样式
.menu .menu-item a:hover {
	margin-top: 2px;
    border-bottom-color: rgba(161, 102, 171, 0);
}

// 文章标题字体
.posts-expand .post-title {
    font-size: 26px;
    font-weight: 700;
}

// 文章内链接文本样式
.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

// 背景

@media screen and (min-width:1200px) {

    body {
    background-image:url(https://wx2.sinaimg.cn/large/0060lm7Tly1g0ir2ohjmwj31900u01kx.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    }

    #footer a {
        color:#eee;
    }
}


// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

// 自定义的文章摘要图片样式
img.img-topic {
    width: 100%;
}

